{
	"presets": [
		[
			"env", {
				"modules": false,
				"targets": {
					"browsers": [
						"last 2 versions",
						"ie >= 11"
					]
				}
			}
		],
		"react",
		"stage-3"
	],
	"plugins": [
		["react-hot-loader/babel"],
    	["transform-class-properties"],
    	["transform-object-rest-spread"]
	]
}
