
.list-settings-background {
	position: fixed;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(109, 105, 105, 0.8);
	z-index: 1;
}

.list-settings {
	position: fixed;
	top: 20%;
	left: 5%;
	right: 5%;
	margin: 0 auto;
	width: 80vw;
	background-color: white;
	padding: 1rem;
	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: gray;
		margin-bottom: 2rem;
		text-transform: none;
	}
	&__list-image {
		margin-right: .5rem;
	}
}