
.navigation {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.2s;
	&__head {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: flex-start;
		height: 30vh;
		padding: 1rem;
	}
	&__content {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: flex-start;
		margin-bottom: 5rem;
	}
	&__content-list {
		margin-left: 1rem;
		list-style: none;
		margin-bottom: 1rem;
		border-bottom: 1px solid whitesmoke;
		width: 100%;
		img {
			margin-right: 1rem;
		}
		li {
			padding: .5rem 0;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
	&__content-user-list {
		margin-left: 1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		img {
			margin-right: 1rem;
		}
	}
	&__footer {
		margin-left: 1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		img {
			margin-right: 1rem;
		}
	}
	a {
		text-decoration: none;
		color: #818181;
		display: block;
		transition: 0.3s;
		&:hover {
			color: #aca8a8;
		}
		&.active {
			color: bisque;
		}
	}
	&__add-list {
		font-size: 1rem;
		color: black;
		z-index: 2000;
	}
	&__circle {
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 30px;
		height: 30px;
		background: orange;
		border-radius: 50px;
		transition: all .5s linear;
		transform: scale(0.1);
		&.animate {
			transform: scale(1);
		}
	}
}