
.sort-list-background {
	position: fixed;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(109, 105, 105, 0.8);
	z-index: 1;
}

.sort-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    height: fit-content;
    text-transform: none;
    color: black;
    padding: 1rem;
    &__title {
        margin-bottom: 2rem;
    }
    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
    }
    &__list--active {
        color: blueviolet;
    }
    &__img {
        margin-right: 1rem;
    }
}