
.todo-details {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px 0 15px;
    background-color: white;
    z-index: 100;
    &__head {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 10vh;
        & img {
            margin-right: 1rem;
        }
    }
    &__todo-edit {
        padding-bottom: 1rem;
        border-bottom: 1px solid gray;
    }
    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &.visible {
		display: block;
		height: 100%;
		opacity: 1;
		z-index: 10000;
		transition: height 0s, opacity 300ms ease-in-out;
    }
    &.hidden {
		display: block;
		overflow: hidden;
		height: 0;
		top: 0;
		left: 0;
		opacity: 0;
		transition: height 0s 500ms, opacity 300ms ease-in-out;
    }
    &__add-task {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		top: 30%;
		background-color: skyblue;
		height: 50%;
		border: 0;
		border-radius: 20px;
    }
    &__form {
		font-size: 10px;
		width: 100%;
		label {
			font-size: 15px;
		}
    }
    &__input {
        font-size: 1rem;
        width: 100%;
        border-bottom: 1px solid whitesmoke;
        margin-bottom: 1rem;
        height: 50px;
        border: 0;
        border-radius: 2px;
    }
    &__add-button {
		width: 100%;
		height: 3rem;
		padding: 5px;
		margin-top: 10px;
		border: 0;
		border-radius: 2px;
		text-align: center;
    }
  }