
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

button {
  padding: 5px;
}

.hidden {
  display: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
  background-color: rgb(89, 193, 211);
  margin-bottom: 10px;
  .checked {
    text-decoration-line: line-through;
    color: rgb(73, 73, 73);
  }
}

form {
  font-size: 10px;
  width: 90%;
  input {
    width: 100%;
    height: 50px;
  }
  label {
    position: relative;
    top: -15px;
    left: 5px;
  }
}

.add-task {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  padding: 10px;
  background-color: rgb(73, 73, 73);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(83, 182, 221);
  color: white;
  height: 50px;
  margin-bottom: 20px;
}

.todo-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 30px;
}

.container {
  display: grid;
  width: 80%;
  margin: 0 auto;
}

.remove {
  margin-left: 15px;
} 

.icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  &:hover {
    &::before, &::after {
      background: salmon;
    }
  }
  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  &::before {
    transform: rotate();
  }
  &::after {
    transform: rotate(-90deg);
  }
  &.remove {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
  &.add {
    position: fixed;
    bottom: 2rem;
    right: 10%;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
    background-color: salmon;
  }
}
